<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
  <Properties>
    <Property name="fileName" value="log/hahaha.log" />
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %highlight{%-5level} %highlight{%c.%M(%L)} - %msg%n}" />
    </Console>
    <File name="File" fileName="${fileName}">
      <JsonLayout compact="true" eventEol="true" properties="true" includeTimeMillis="true"/>
    </File>
    <RollingFile name="RollingFile" fileName="log/rollingApp.log" filePattern="logs/%d{MM-dd-yyyy}-%i.log.tar" ignoreExceptions="false">
      <JsonLayout compact="true" eventEol="true" properties="true" includeTimeMillis="true"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="50 MB" />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- 指定某些包的日志写入特定Appender additivity设置为false则不向Root传递 -->
    <!-- <Logger name="com.hellojqk.jsbdemo" level="info">
      <AppenderRef ref="File" />
      <AppenderRef ref="RollingFile" />
    </Logger> -->
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
      <AppenderRef ref="RollingFile" />
    </Root>
  </Loggers>
</Configuration>